.Home{
    background-color: black;
    background-image: url("../components/Images/home-back.png");
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header{
    width: 100%;
    top: 10%;
    height: 100px;
    background-color: transparent;
    color: orange;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 100px;
}

.login-bt{
    background-color: transparent;
    color: aliceblue;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.login-bt:hover{
    background-color: rgb(174, 21, 174);
    color: orange;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}